/* Resetowanie domyślnych stylów przeglądarki */
body, h1, p {
  margin: 0;
  padding: 0;
}

/* Stylowanie body */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

/* Stylowanie nagłówka h1 */
h1 {
  text-align: center;
  color: #333;
  padding: 20px 0;
}

/* Stylowanie linków */
a {
  text-decoration: none;
  color: #0077cc;
}

a:hover {
  text-decoration: underline;
}

/* Stylowanie artykułów */
a img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px 0;
}

/* Dodatkowe odstępy między artykułami */
a + a {
  margin-top: 20px;
}

a {
  margin-left: 20px;
}